*{margin: 0; padding: 0;}
ul,ol{list-style: none;}
a{text-decoration: none; color: inherit;}
img{vertical-align: top;}
input,button,select,option{
    background-color: rgba(0,0,0,0);
    border: 0;
}

#wrapper{
    min-width: 320px;
    margin: 0 auto;
}

.wrap{width: 1200px;
margin: 0 auto;}

header{
    margin: 0 auto;
    height: 200px;
    background-repeat: no-repeat;
    background-position-X: center;
    border-top: 1px solid #ff7c98;
    position: relative;
}

header .wrap{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

header .wrap h1{
    text-align: center;
}

header .wrap h1 img{
    width: 150px;
    height: auto;
}

header .util{
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'Noto Sans KR', sans-serif;
}
header .util li{
    margin-right: 50px;
    padding-top: 20px;
    color: #eb7c9d;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
}

header nav{
    position: absolute;
    top: 150px;
    width: 100%;
    z-index: 99999;
    transition: height 0.6s;
    height: 50px;
    overflow: hidden;
}

header nav:hover{height: 420px;}


header .gnb{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    text-align: center;
    position: relative;
}
header .gnb li{
    font-family: 'Noto Sans KR', sans-serif;
    color: #606060;
    font-size: 20px;
    width: 240px;
}

header .gnb li a{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .gnb li:first-child{
    color: #0c58a4;
    font-weight: bold;
    padding-left: 5px;
}

header input{
    height: 40px;
    width: 250px;
    background-image: url(../images/srh-icon.png);
    background-repeat: no-repeat;
    background-size: 25px auto;
    background-position: 96% center;
    position: absolute;
    top: 30px;
    right: 0;
}


header .sub-gnb{
    background-color: #fff;
    height: 370px;
    width: 1200px;
    display: flex;
    text-align: center;
}

header nav:hover .sub-gnb{
    display: flex;
    transition: all 0.4s;
}

header .sub-gnb ul{
    width: 240px;
}

header .sub-gnb ul li{
    padding: 15px 0;
    color: rgb(102, 102, 102);
}


header .sub-gnb ul li:hover{
    font-weight: bold;
    color: #eb7c9d;
}

.banner{
    text-align: center;
    height: 510px;
    background-color: #112788;
    position: relative;
}

.banner img{
    width: 1200px;
}

.banner .arrow{
    display: flex;
    justify-content: space-between;
    width: 1200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.banner .arrow img{
    width: 30px;
}

.banner .dots{
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
}
.banner .dots button{
    background-color: #fff;
    width: 15px;
    height:15px;
    border-radius: 50%;
    opacity: 0.6;
}

.banner .dots button:first-child{
    opacity: 1;
}

.content{
    position: relative;
    height: 360px;
}



.content .title{
    text-align: center;
    margin: 0 auto;
    margin-top: 100px;
}

.content .icecream{
    display: flex;
    justify-content: space-between;
    margin: 80px 0;
    text-align: center;
}

.content .icecream .box a{
    display: flex;
    justify-content: center;
}

.content .icecream .box a img{
    width: 130px;
}



.content .icecream img{
    width: 160px;
}

.content .icecream p{
    font-size: 20px;
    opacity: 0;
    position: absolute;
    bottom: 5px;
    color: #666;
    font-family: 'Noto Sans KR', sans-serif;
}

.content .icecream a:hover p{
   opacity: 1;
    transition: all 0.6s;
}

.content .icecream a:hover  img{
    transform: scale(1.3);
    transition: all 1s;
}

.content .icecream .box{
    width: 300px;
    padding: 36px 0;
    margin-right: 40px;
}

.content .icecream .box:nth-child(1){
    background-image: url(../images/icecream-bg1.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.content .icecream .box:nth-child(2){
    background-image: url(../images/icecream-bg2.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: 60%;
}
.content .icecream .box:nth-child(3){
    background-image: url(../images/icecream-bg3.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.content .icecream .box:nth-child(4){
    background-image: url(../images/icecream-bg4.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: 70%;
}
.content .icecream .box:nth-child(5){
    background-image: url(../images/icecream-bg5.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 0;
}

.content .icecream .box .txt{
    font-size: 18px;
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.4);
    line-height: 160px;
}

.content2{
    padding: 100px 0;
}

.content2 .wrap{
    margin: 0 auto;
    width: 1200px;
}

.content2 .wrap .title h2{
    text-align: center;
    margin-bottom: 100px;
}

.content2 .ser {
    display: flex;
    justify-content: center;
}
.content2 .ser a{
    display: block;
    margin-right: 100px;
}

.content2 .ser a:last-child{
    margin-right: 0;
}

.content3{
    margin: 100px 0;
}

.content3 .title h2{
    text-align: center;
    margin-bottom: 60px;
}

.content3 .sub-bn img{
    width: 1200px;
}

.content3 .con{
    background-color: #fcf7ed;
    height: 750px;
}

.content3 .con .notice{
    padding: 30px 0;
}

.content3 .con p{
    color: #eb7c9d;
    font-size: 20px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
    margin-bottom: 15px;
}

.content3 .con .notice span{
    font-size: 10px;
    margin-right: 5px;
}
.content3 .con .notice .bar{
    width: 600px;
    height: 35px;
    display: block;
    background-color: #fff;
    line-height: 35px;
    border-radius: 30px;
    border: 1px solid #ccc;
    padding-left: 15px;
}

.content4{
    margin-bottom: 80px;
    position: relative;
}

.content4 .wrap{
    margin: 0 auto;
}

.content4 .wrap .title h2{
    text-align: center;
    margin-bottom: 50px;
}

.content4 .sns{
    width: 1200px;
    position: relative;
}

.content4 .sns .profile{
    padding-left: 160px;
    position:absolute;
}

.content4 .sns .profile .thumb{
    height: 150px;
    position: relative;
}

.content4 .sns .profile .thumb p{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color:transparent;
    border: 2px solid #ccc;
    overflow: hidden;
    position: relative;
    z-index: 99999;
}

.content4 .sns .profile .thumb img{
    width: 100px;
    position: absolute;
    top: 20px;
    left: 15px;
}

.content4 .sns .nick{
    background-image: url(../images/bluebadge.png);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 100% center;
    color: #666;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 40px;
    padding-right: 24px;
}

.content4 .sns .sns-txt{
    position: absolute;
    width: 260px;
    left: 65px;
    font-family: 'Noto Sans KR', sans-serif;
    text-align: center;
}

.content4 .sns .sns-txt span{
    display: block;
}
.content4 .sns .sns-txt span:first-child{
    color: #005fb9;
    font-weight: bold;

}
.content4 .sns .sns-txt span:last-child{
    color: #f0840c;
}


.content4 .sns .feed{
    width: 630px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    padding-left: 140px;
}

.content4 .sns .feed a img{
    width: 200px;
}

.content4 .sns .feed a:nth-child(4){
    display: block;
    margin: 15px 0;}
.content4 .sns .feed a:nth-child(5){
    display: block;
    margin: 15px 0;}
.content4 .sns .feed a:nth-child(6){
    display: block;
    margin: 15px 0;}

.content4 .event{
    position: absolute;
   top: 40%;
   left: 10%;
}


.content4 .icon{
    position: absolute;
    right: 0;
}
.content4 .icon a{
    display: flex;
    margin-bottom: 10px;
}


footer{
    margin-top: 100px;
    border-top: 1px solid #ff7c98;
}

footer .wrap{
    width: 1200px;
    position: relative;
}

footer .f-menu{
    display: flex;
    justify-content: space-between;
    padding: 30px.0;
    font-family: 'Noto Sans KR', sans-serif;
    color: #606060;
}

footer .f-menu >li:hover{
    color: #ff7c98;
    font-weight: bold;
}

footer .f-logo{
    margin-bottom: 30px;
}
footer .f-logo img{
    width: 180px;
}

footer .icon{
    position: absolute;
    right: 0;
}

footer .icon img{
    width: 35px;
    margin-left: 8px;
}

footer address{
    font-style: normal;
    font-size: 14px; 
    color: #606060;
    font-family: 'Noto Sans KR', sans-serif;
    margin-bottom:15px;
}

footer p{
    margin: 8px 0 20px;
    color: #848484;
    font-size: 14px;
    font-family: 'Noto Sans KR', sans-serif;
}

